@import "flatpickr/dist/flatpickr.min.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


.form-control[readonly] {
    background-color: inherit;
}

.form-control {
    border-color: #e4e6fc;
}

.power_grid.form-control[readonly] {
    min-width: 250px;
}

.btn-primary, .btn-primary.disabled {

    background-color: #6777ef;
}

